################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab01/API/.vs/API/FileContentIndex/cfda6c17-fae2-46aa-ad4c-1858fde938e5.vsidx
/Lab01/Web/.vs/Web/FileContentIndex/69705753-6e04-44d1-8af9-a1611f992f10.vsidx
