################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab01/API/.vs/API/FileContentIndex/cfda6c17-fae2-46aa-ad4c-1858fde938e5.vsidx
/Lab01/Web/.vs/Web/FileContentIndex/69705753-6e04-44d1-8af9-a1611f992f10.vsidx
/Lab-03-AccountStorage/AzureBlobsTest/.vs/AzureBlobsTest/FileContentIndex/be38185b-c7fc-468d-a6b3-e38adad85bb6.vsidx
/Lab03_1-Blobs/.vs/Lab03_1-Blobs/FileContentIndex/8630059e-b9c9-4b19-b2c1-9aedb7bc08c0.vsidx
/Lab03_1-Blobs/.vs/Lab03_1-Blobs/FileContentIndex/19de1814-49e1-4401-bb83-120c7bc87989.vsidx
/Lab03_1-Blobs/.vs/Lab03_1-Blobs/FileContentIndex/36b24853-9758-48f4-b901-ec34726182ef.vsidx
/Lab03_1-Blobs/.vs/Lab03_1-Blobs/FileContentIndex/be338818-326d-4868-9730-a8aa9523e8bf.vsidx
/Lab03_1-Blobs/.vs/Lab03_1-Blobs/FileContentIndex
/Lab03-Blobs/Exercice03/BlobCopy/.vs/BlobCopy/FileContentIndex
/Lab06-EntraID/Exercice02/.vs/Exercice02/FileContentIndex
