################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab01/API/.vs/API/FileContentIndex/cfda6c17-fae2-46aa-ad4c-1858fde938e5.vsidx
